.dark-mode {
  animation: change-dark 1s ease-in-out forwards;
}

.light-mode {
  animation: change-white 1s ease-in-out forwards;
}

@keyframes change-dark {
  100% {
    background: var(--green-dark);
  }
}

@keyframes change-white {
  0% {
    background: var(--green-dark);
  }
  100% {
    background: var(--white);
  }
}
