.autocomplete__content {
  background-color: var(--white);
  padding: 0;
  padding-bottom: 5px;
  padding-top: 5px;
  border: 1px solid var(--black);
  position: absolute;
  top: 59px;
  border-radius: 5px;
}

.autocomplete__list {
  list-style: none;
  padding-left: 10px;
}
.autocomplete__list:hover {
  cursor: pointer;
  background-color: var(--blue-electric);
}

.autocomplete__container {
  position: relative;
  width: 100%;
}
