.login__content {
  padding: 3rem 3rem 1.5rem 3rem;
  border: solid 5px transparent;
  max-width: 550px;
  border-image: linear-gradient(to right, var(--yellow), var(--purple));
  border-image-slice: 1;
}
.login__button {
  color: var(--white);
  font-weight: 700;
  height: 50px;
  border-radius: 10px;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  background-size: 0%;
  background-position: 0%;
  background-image: linear-gradient(
    to right,
    var(--yellow) 50%,
    var(--yellow) 50%,
    var(--purple)
  );
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
}

.login__button:hover {
  background-position: 100% 0%;
  color: var(--white);
  cursor: pointer;
}

@keyframes mymove {
  10% {
    background-size: 0%;
    background-position: 0%;
  }

  100% {
    background-size: 100%;
    background-position: 100%;
  }
}
