:root {
  --white: white;
  --black: black;
  --blue-electric: #7DF9FF;
  --gray: #D8D8D8;
  --gray-dark: #0000001a;
  --gray-shadow: #00000066;
  --green: #2EBE78;
  --green-dark: #445966;
  --red: #FF1546;
  --pink: #D67B92
}
